.add-node-button{
    margin: 0 auto;
}

.individual-form{
    margin: 20px 20px;
    .left-of-picture{
        width: calc(100% - 215px - 5%);
    }
}

.complementary-info-nav{
    margin-bottom: 10px;
}

$imgWidth: 215px;
.avatar-picture-wrapper{
    width: fit-content;
    .update-avatar-btn{
        position: absolute;
        left: calc(#{$imgWidth} + 6px);
    }

    img{
        width: #{$imgWidth};
        border-radius: 3px;
    }
}

.invisible{
    display: none !important;
}

.modalForm{
    min-width: 80%;
}


@media (max-width: 768px){
    .individual-form{
        .left-of-picture{
            width: 100%;
        }
    }
}