.add-node-button {
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0px 1px 3px gray;
}

.individual-form {
    margin: 20px 20px;

    .left-of-picture {
        width: calc(100% - 215px - 5%);
    }
}

.plant-tree-container{
    min-height: calc(100vh - 1.1rem - 40px);
    position: absolute;
    min-width: 100%;
    top: calc(1.1rem + 40px);
    left: 0;
    .plant-a-tree-button{
        position: relative;
        width: 30%;
        height: 60px;
        top: calc(50vh - 1.1rem - 40px);
        left: calc(50% - 15%);
        font-size: 18px;
    }
}

.options-background{
    position: relative;
    min-height: calc(100vh - 1.1rem - 40px);
    top: calc(1.1rem + 40px);
    background: linear-gradient(0deg, rgba(0,0,0,0.95) 0%, rgba(0,0,0,0.9) 100%);
}

.form-label {
    margin-top: 5px;
    margin-bottom: 5px;
}

.complementary-info-nav {
    margin-bottom: 10px;
}

$primary-color: #0d6efd;

.main-menu{
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color:#fdfdfdf3 ;
    .navbar-brand:hover{
        cursor: pointer;
    }
    .nav-item:hover{
        cursor: pointer;
    }
}

$imgWidth: 215px;

.avatar-picture-wrapper {
    width: fit-content;

    .update-avatar-btn {
        position: absolute;
        left: calc(#{$imgWidth} + 6px);
    }

    .update-avatar-double-btn {
        position: absolute;
        left: calc(#{$imgWidth} - 31px);
    }

    img {
        width: #{$imgWidth};
        border-radius: 3px;
    }
}

.country-flag,
.input-icon {
    height: 24px;
}

.tag-close-icon {
    margin-left: 8px;
}

.arrow-icon{
    margin-right: 8px;
    margin-left: 8px;
}

.add-node-tooltip{
    .tooltip-inner{
        background-color: transparent;
        max-width: 100%;
    }
}

$linksThickness : 6px;
$linksColor : #bababa;
$marriageColor : #909090;
#family-tree-container {
    top: calc(1.1rem + 40px);
    .tree-node-container {
        display: block;
        position: absolute;
        .country-flag{
            max-height: 20px; 
        }
    }
    .relationship-link{
        display: block;
        position: absolute;
        background-color: $linksColor;
        height: $linksThickness;
        width: $linksThickness;
        z-index: -2;
    }
    .marriage-link{
        background-color: $marriageColor;
        box-shadow: #bababa 0px 2px 4px;
        z-index: 0;
    }
}

.invisible {
    display: none !important;
}

.modal-form {
    min-width: 85%;
}

.modal-body{
    align-self: center;
}

.avatar-cropper {    
    div {
        img {
            max-height: 75vh;
        }
    }
}


.statistics-header{
    color : #ddd;
}

.statistics-subtitle{
    color : #ddd;
    margin-top: 1rem;
}

.geochart-container{
    .detailed-geochart-info{
        margin-top: 4rem;
    }
    div{
        margin: 0 auto;
        .geochart{
            margin: 0 auto;
        }
    }
}

.progress-bar-definition{
    padding-top: 1rem;
}
.no-detected-ancestors{
    margin-top: 2rem;
}

.statistic-selector-header{
    margin-top: 5vh;
    text-align: center;
    color: #ccc;
    .individual-selector{
        display: inline-block;
        width: auto;
        text-align: center;
        background-color: #222;
        color: white;
        border-color: #111;
        option{
            text-align: center;
            
        }
    }
}

.statistics-separator{
    color: white;
    border-color: white;
    width: 95%;
    margin: 2rem auto;
    height: 5px !important;
}

.statistics-table{
    --bs-table-bg: transparent;
}

$MALE_COLOR : #7ad8f5dd;
$FEMALE_COLOR : #9d5783dd;
.male{
    .progress-bar{
        background-color: $MALE_COLOR;
    }
}

.female{
    .progress-bar{
        background-color: $FEMALE_COLOR;
    }
}

@media (max-width: 576px) {
    .plant-tree-container{
        .plant-a-tree-button{
            width: 50%;
            height: 60px;
            top: calc(50% - 15px);
            left: calc(50% - 25%);
        }
    }
}

@media (max-width: 768px) {
    .individual-form {
        .left-of-picture {
            width: 100%;
        }
        .avatar-picture-wrapper{
            margin: 0px auto;
            
                .update-avatar-btn {
                    position: absolute;
                    left: calc(58% + 6px);
                }
            
                .update-avatar-double-btn {
                    position: absolute;
                    left: calc(58% - 31px);
                }
            
                img {
                    width: #{$imgWidth};
                    border-radius: 3px;
                }
        }
    }
    .options-background{
        min-height: calc(100vh - 1rem - 40px);
        top: calc(1rem + 40px);
    }
}