.add-node-button {
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0px 1px 3px gray;
}

.individual-form {
  margin: 20px 20px;
}
.individual-form .left-of-picture {
  width: calc(100% - 215px - 5%);
}

.plant-tree-container {
  min-height: calc(100vh - 1.1rem - 40px);
  position: absolute;
  min-width: 100%;
  top: calc(1.1rem + 40px);
  left: 0;
}
.plant-tree-container .plant-a-tree-button {
  position: relative;
  width: 30%;
  height: 60px;
  top: calc(50vh - 1.1rem - 40px);
  left: calc(50% - 15%);
  font-size: 18px;
}

.options-background {
  position: relative;
  min-height: calc(100vh - 1.1rem - 40px);
  top: calc(1.1rem + 40px);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.95) 0%, rgba(0, 0, 0, 0.9) 100%);
}

.form-label {
  margin-top: 5px;
  margin-bottom: 5px;
}

.complementary-info-nav {
  margin-bottom: 10px;
}

.main-menu {
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: #fdfdfdf3;
}
.main-menu .navbar-brand:hover {
  cursor: pointer;
}
.main-menu .nav-item:hover {
  cursor: pointer;
}

.avatar-picture-wrapper {
  width: fit-content;
}
.avatar-picture-wrapper .update-avatar-btn {
  position: absolute;
  left: calc(215px + 6px);
}
.avatar-picture-wrapper .update-avatar-double-btn {
  position: absolute;
  left: calc(215px - 31px);
}
.avatar-picture-wrapper img {
  width: 215px;
  border-radius: 3px;
}

.country-flag,
.input-icon {
  height: 24px;
}

.tag-close-icon {
  margin-left: 8px;
}

.arrow-icon {
  margin-right: 8px;
  margin-left: 8px;
}

.add-node-tooltip .tooltip-inner {
  background-color: transparent;
  max-width: 100%;
}

#family-tree-container {
  top: calc(1.1rem + 40px);
}
#family-tree-container .tree-node-container {
  display: block;
  position: absolute;
}
#family-tree-container .tree-node-container .country-flag {
  max-height: 20px;
}
#family-tree-container .relationship-link {
  display: block;
  position: absolute;
  background-color: #bababa;
  height: 6px;
  width: 6px;
  z-index: -2;
}
#family-tree-container .marriage-link {
  background-color: #909090;
  box-shadow: #bababa 0px 2px 4px;
  z-index: 0;
}

.invisible {
  display: none !important;
}

.modal-form {
  min-width: 85%;
}

.modal-body {
  align-self: center;
}

.avatar-cropper div img {
  max-height: 75vh;
}

.statistics-header {
  color: #ddd;
}

.statistics-subtitle {
  color: #ddd;
  margin-top: 1rem;
}

.geochart-container .detailed-geochart-info {
  margin-top: 4rem;
}
.geochart-container div {
  margin: 0 auto;
}
.geochart-container div .geochart {
  margin: 0 auto;
}

.progress-bar-definition {
  padding-top: 1rem;
}

.no-detected-ancestors {
  margin-top: 2rem;
}

.statistic-selector-header {
  margin-top: 5vh;
  text-align: center;
  color: #ccc;
}
.statistic-selector-header .individual-selector {
  display: inline-block;
  width: auto;
  text-align: center;
  background-color: #222;
  color: white;
  border-color: #111;
}
.statistic-selector-header .individual-selector option {
  text-align: center;
}

.statistics-separator {
  color: white;
  border-color: white;
  width: 95%;
  margin: 2rem auto;
  height: 5px !important;
}

.statistics-table {
  --bs-table-bg: transparent;
}

.male .progress-bar {
  background-color: #7ad8f5dd;
}

.female .progress-bar {
  background-color: #9d5783dd;
}

@media (max-width: 576px) {
  .plant-tree-container .plant-a-tree-button {
    width: 50%;
    height: 60px;
    top: calc(50% - 15px);
    left: calc(50% - 25%);
  }
}
@media (max-width: 768px) {
  .individual-form .left-of-picture {
    width: 100%;
  }
  .individual-form .avatar-picture-wrapper {
    margin: 0px auto;
  }
  .individual-form .avatar-picture-wrapper .update-avatar-btn {
    position: absolute;
    left: calc(58% + 6px);
  }
  .individual-form .avatar-picture-wrapper .update-avatar-double-btn {
    position: absolute;
    left: calc(58% - 31px);
  }
  .individual-form .avatar-picture-wrapper img {
    width: 215px;
    border-radius: 3px;
  }

  .options-background {
    min-height: calc(100vh - 1rem - 40px);
    top: calc(1rem + 40px);
  }
}

/*# sourceMappingURL=App.css.map */
